*{
    box-sizing: border-box;
}
/* Levi */
body{
    background: url(kepek/hatterkep.jpg);
}

/* Kezdőlap formázás */
/* Levi */
#kezdolap_tarolo{
    width: 80%;
    max-width: 800px;
    margin: auto;
    background-color: #846d4c;
    color: #eed9c4;
}
/* Vanda */
.Kfejlec{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
/* Levi */
.Kmenu{
    background-color: #846d4c;
}
.Kmenu ul{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Kmenu li{
    padding: 10px;
    text-align: center;
}
.Kmenu li:hover {
    background-color: #c6b18a;
}
.Kmenu li:hover a{
    color: #C15A3A;
}
.Kmenu a{
    text-decoration: none;
    color: #eed9c4;
}
/* Vanda */
.Ktartalom{
    padding: 10px;
    text-align: justify;
}
img{
    width: 100%;
    padding: 3px;
    border: 1px solid;
    border-width: 3px;
    border-color: bisque;
}
.kepesszoveg_bev{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
/* Vanda */
.Klablec{
    background-color: #c6b18a;
    text-align: center;
    padding: 5px;
    color: #C15A3A;
}